.top-bar-container {
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  .top-bar-title {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
  }
  .more-menu{
    margin-right: -18px;
  }
}
.menu-item-text {
  margin-left: 6px;
  margin-right: 6px;

  // .icon-container {
  //   display: flex;
  //   cursor: pointer;
  //   .icon-item {
  //     display: flex;
  //     padding: 0 0 0 10px;
  //     justify-content: center;
  //     align-items: center;
  //     margin-right: 4px;
  //     .icon-img {
  //       color: #1890fe;
  //       font-size: 30px;
  //     }
  //     .icon-text {
  //       margin-left: 2px;
  //     }
  //   }
  // }
}
.top-bar-container-mobile {
  // width: calc(100% - 40px);
}
