<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.trtc.videocall">

    <application>
        <activity android:name="com.tencent.trtc.videocall.VideoCallingActivity"/>
        <activity android:name="com.tencent.trtc.videocall.VideoCallingEnterActivity" />
    </application>

</manifest>