Android/.gradle/3.3/taskArtifacts/fileHashes.bin
Android/.gradle/3.3/taskArtifacts/fileSnapshots.bin
Android/.gradle/3.3/taskArtifacts/taskArtifacts.bin
Android/.gradle/3.3/taskArtifacts/taskArtifacts.lock
Android/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
Android/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
Android/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
Android/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
Android/.idea/gradle.xml
Android/.idea/misc.xml
Android/.idea/modules.xml
Android/.idea/runConfigurations.xml
Android/.idea/workspace.xml
Android/.idea/caches/build_file_checksums.ser
Android/.idea/codeStyles/Project.xml
Android/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_appcompat_v7_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_multidex_1_0_1.xml
Android/.idea/libraries/Gradle__com_android_support_multidex_instrumentation_1_0_1.xml
Android/.idea/libraries/Gradle__com_android_support_support_annotations_26_0_0_alpha1_jar.xml
Android/.idea/libraries/Gradle__com_android_support_support_compat_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_support_core_ui_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_support_core_utils_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_support_fragment_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_support_media_compat_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_support_v4_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_android_support_support_vector_drawable_26_0_0_alpha1.xml
Android/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_3_8_1_jar.xml
Android/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_8_1_jar.xml
Android/.idea/libraries/Gradle__com_squareup_okio_okio_1_13_0_jar.xml
Android/.idea/libraries/Gradle__LiteAVSDK_TRTC_release__aar.xml
Android/.settings/*
.project
Android/TRTCDemo/local.properties
Android/TRTCDemo/build
iOS/Pods/*
iOS/Podfile.lock
iOS/TRTCDemo.xcworkspace
Mac/Pods/*
Mac/Podfile.lock
Mac/TRTCDemo.xcworkspace
