<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TRTC Education - Electron Version</title>
  </head>
  <body>
    <div id="root" class="trtc-edu-app"></div>
    <script src="https://sdk-web-1252463788.cos.ap-hongkong.myqcloud.com/trtc/electron/monitor/monitor-eagis-electron-edu.min.js" crossorigin="anonymous"></script>
  </body>
</html>
