.user-list-title {
  width: 100%;
  .expand-icon {
    float: right;
  }
  .hide {
    .user-list-container {
      height: 0px;
      transition: height 1s ease;
    }
  }
  .user-list-container {
    width: 100%;
    padding: 0 0 20px;
    margin: 0;
    overflow: hidden;
    transition: height 1s ease;
  }
  .accordion-container {
    box-shadow: none;
    background: #fafafa;
    .accordion-summary-container {
      padding: 0px;
      min-height: 48px;
      .accordion-summary-content{
        margin: 0;
      }
    }
    .accordion-details-container {
      padding: 0px;
    }
  }
}