<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.liteav.screen" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity android:name="com.tencent.liteav.screen.ScreenActivity" />
        <activity android:name="com.tencent.liteav.screen.ScreenEntranceActivity" />

        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
