<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.live">

    <application>
        <activity android:name="com.tencent.live.LiveRoomListActivity" />
        <activity android:name="com.tencent.live.LivePushActivity" />
        <activity android:name="com.tencent.live.LivePlayActivity" />
        <activity android:name="com.tencent.live.LiveBaseActivity" />
    </application>

</manifest>