$color-warn: #ffec3d;
$color-error: #ff4d4f;
$color-muted: #ff4d4f;
$color-info: #73d13d;

$color-white: #ffffff;
$color-black: #000000;

$color-highlight-1: #e6f7ff;
$color-highlight-2: #bae7ff;
$color-highlight-3: #91d5ff;
$color-highlight-4: #69c0ff;
$color-highlight-5: #40a9ff;
$color-highlight-6: #1890ff;
$color-highlight-7: #096dd9;
$color-highlight-8: #0050b3;
$color-highlight-9: #003a8c;
$color-highlight-10: #002766;

$color-primary: $color-highlight-6;
$color-secondary: $color-highlight-2;


$color-gray-1: #ffffff;
$color-gray-2: #fafafa;
$color-gray-3: #f5f5f5;
$color-gray-4: #f0f0f0;
$color-gray-5: #d9d9d9;
$color-gray-6: #bfbfbf;
$color-gray-7: #8c8c8c;
$color-gray-8: #595959;
$color-gray-9: #434343;
$color-gray-10: #262626;
$color-gray-11: #1f1f1f;
$color-gray-12: #141414;
$color-gray-13: #000000;

$box-shadow-gray: 0.0625rem 0.0625rem 0.5rem 0.125rem $color-gray-2;
