<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.liteav.demo.trtc">

    <application>
        <activity
            android:name=".TRTCNewRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewActivityTheme" />
        <activity

            android:name=".TRTCVideoRoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NewActivityTheme"
            android:windowSoftInputMode="adjustPan" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
