<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.trtc.audiocall">

    <application>
        <activity android:name="com.tencent.trtc.audiocall.AudioCallingEnterActivity" />
        <activity android:name="com.tencent.trtc.audiocall.AudioCallingActivity" />
    </application>

</manifest>