<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.liteav.login">


    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
                <action android:name="com.tencent.liteav.action.startLogin" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>